@{
   
}
<style>
    .section {
        margin: 50px 10px;
        background-color: white;
        padding: 5%;
        background-color: darkslategray;
        color: white;
    }
    .container{
        display: flex;
    }
</style>
<div class="container">
    <div class="section">

        <h2>DESCRIPCION</h2>
        <p>
            Esta pagina web fue diseñada para que diferentes tipos de usuarios puedan ingresar,
            teniendo cada uno de ellos la capacidad de realizar diferentes funcionalidades. En el caso
            del Usuario, tendra acceso a realizar prestamos de dispositivos, por ejemplo. Esto y muchas cosas
            mas que quedan por descubrir.
        </p>
    </div>
    <div class="section">
        <h3>OBJETIVO</h3>
        <p>
            Usar esta pagina web realizar prestamos y devoluciones de dispositivos electronicos.
        </p>
    </div>
</div>