@{
   
}
<style>
    .section {
        margin: 50px 10px;
        background-color: white;
        padding: 5%;
        background-color: darkslategray;
        color: white;
    }
    .container{
        display: flex;
    }
</style>
<div class="container">
    <div class="section">

        <h2>DESCRIPCION</h2>
        <p>
            Esta pagina web fue diseñada para que diferentes tipos de usuarios puedan ingresar,
            teniendo cada uno de ellos la capacidad de crear cualquier cantidad de albumes y asi mismo,
            organizar en cada album las fotos que desee y en el orden que desee,
            sin la necesidad de subir la foto mas de una ocasion.
        </p>
    </div>
    <div class="section">
        <h3>OBJETIVO</h3>
        <p>
            Usar esta pagina web para hacer mas facil, e interactiva la creaccion de albumes con el fin de que el usuario
            pueda organizarlos todos a su preferencia y total gusto.
        </p>
    </div>
</div>