@{
    
}
<style>
    .section {
        margin: 50px auto;
        background-color: white;
        padding: 5%;
        opacity: 0.9;
    }
</style>
<div class="section">

    <h2>Desarrollado Por:</h2>
    <p>  Juan Camilo Ocampo. </p>
    <p>  Juan Carlos Orrego. </p>
    <p>  Ricardo Casas. </p>
    <p>  David Campo. </p>

    <h3>Mayor Informacion:</h3>
    <br>
    Telefonos: </br>
    5522654  </br>
    4458875
    </p>

    <address>
        <strong>Analista:</strong>   <a href="mailto:Support@example.com">analista@gmail.com</a><br />
        <strong>Administrador:</strong>   <a href="mailto:Support@example.com">admin@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@gmail.com</a>
    </address>

</div>