
@{
    ViewBag.Title = "Registro";
}

<h2>Registro</h2>
<form action="/Home/Welcome" method="post">
    <label>Nombre:</label><br />
    <input type="text" name="name" placeholder="Ingrese su nombre" /><br />
    <label>Cedula:</label><br />
    <input type="text" name="id" placeholder="Ingrese su cedula" /><br />
    <label>Correo</label><br />
    <input type="text" name="mail" placeholder="Ingrese su correo" /><br />
    <label>Contraseña</label><br />
    <input type="password" name="password" placeholder="Ingrese su contraseña" /><br />
    <label>UserName:</label><br />
    <input type="text" name="username" placeholder="Ingrese su nombre de usuario" /><br />
    <label>Avatar:</label><br />
    <select name="charachter">
        <option value=""></option>
        <option value="1">perro</option>
        <option value="2">gato</option>
        <option value="3">cerdo</option>
    </select><br /><br />
    <b>@ViewData["Error"]<br /><br /></b>
    <input type="submit" name="button" value="Send Nudes" />
    <input type="text" name="switch" value="1" hidden />
</form>
