
@{

}
<style>
    .section {
        margin: 10% 25%;
        background-color: white;
        padding: 5%;
        font-size: 15px;
        opacity: 0.9;
    }
        .section h1{
            text-align: center;
            font-size: 45px;
        }
</style>
<div class="section">
    <h1>Registro</h1><br />
    <form action="/Home/Welcome" method="POST">
        <div class="form-group">
            <label >Nombre:</label>
            <input type="text" name="name" placeholder="Ingrese su nombre" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Cedula:</label>
            <input type="text" name="id" placeholder="Ingrese su cedula" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Correo</label>
            <input type="text" name="mail" placeholder="Ingrese su correo" class="form-control" />
        </div>
        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" name="pass" placeholder="Ingrese su contraseña" class="form-control" />
        </div>
        <div class="form-group">
            <label>UserName:</label>
            <input type="text" name="username" placeholder="Ingrese su nombre de usuario" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Avatar:</label><br />
            <select name="charachter" class="form-control">
                <option value=""></option>
                <option value="perro">perro</option>
                <option value="gato">gato</option>
                <option value="cerdo">cerdo</option>
            </select>
        </div>
            <b> @ViewData["Error"] </b> <br />
                <input type="submit" name="button" value="Send Nudes" class="btn btn-success" /> 
                <input type="text" name="switch" value="1" hidden />
    </form>
    </div>


