
@{
    ViewBag.Title = "FechaLimite";
}

<h2>FechaLimite: 4/10/2019</h2>

@{ 
    var err = ViewData["error"];
}

<button class="btn btn-success"><a href="/Usuario/Welcome">Regresar</a>  </button>
<h3>Error:</h3>
<p>@err</p>

